<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de Taredas - Listar</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div th:replace="layout/layout-padrao :: cabecalho"></div>	
	<div class="container">
		
		<div class="col-lg-12" style="text-align: right;">
			<a href="/tarefas/inserir" class="btn btn-primary">Nova tarefa</a>		
		</div>
		
		<h3 class="lista-tarefas">LISTA DE TAREFAS</h3>
		
		<div th:each="tarefa: ${tarefas.content}" style="margin: 10px;">
			<div class="panel panel-primary">
				<div class="panel-heading" th:text="${tarefa.titulo}"></div>
				<div class="panel-body">
					<p class="" th:text="${tarefa.descricao}"></p>
					<p class="" th:text="${'Data de expiração: ' + #dates.format(tarefa.dataExpiracao, 'dd/MM/yyyy')}"></p>
					<p class="" style="color:green;" th:if="${tarefa.dataExpiracao.after(new java.util.Date())}">Em dia</p>
					<p class="" style="color:red;" th:if="${tarefa.dataExpiracao.before(new java.util.Date())}">Atrasada</p>
				</div>
				<div class="panel-footer">
					<p>
						<a th:href="@{/tarefas/alterar/{id}(id=${tarefa.id})}">Alterar</a> |
						<a th:href="@{/tarefas/excluir/{id}(id=${tarefa.id})}">Excluir</a> |
						<a th:if="${!tarefa.concluida}" th:href="@{/tarefas/concluir/{id}(id=${tarefa.id})}">Concluir</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container d-flex justify-content-center">
		<nav aria-label="Navegação de página exemplo" style="text-align: center;">
			<ul class="pagination">
				<li class="page-item" th:if="${tarefas.hasPrevious()}">
					<a class="page-link" th:href="@{/tarefas/paginacao(page=${tarefas.number-1}, size=${tarefas.size})}" aria-label="Anterior">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Anterior</span>
					</a>
				</li>
				<th:block th:each="index : ${#numbers.sequence(0, tarefas.totalPages - 1)}">
					<li class="page-item">
						<a class="page-link" th:href="@{/tarefas/paginacao(page=${index}, size=${tarefas.size})}">[[ ${index} + 1 ]]</a>
					</li>
				</th:block>
				<li class="page-item" th:if="${tarefas.hasNext()}">
					<a class="page-link" th:href="@{/tarefas/paginacao(page=${tarefas.number+1}, size=${tarefas.size})}" aria-label="Próximo"> 
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Próximo</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<br /><br /><br />
	
	<div class="footer text-center mb-3">
		<small>Copyright &copy; Gerenciador de tarefas</small>
	</div>
	
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>