.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #222;
	color: white;
	text-align: center;
	height: 5%;
	line-height: 35px;
}

.is-error {
	color: red;
	font-size: 1em;
}

img.img-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #eef3fa;
    border-color: #ddd;
}

.titulo {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3rem;
}

.subtitulo {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.5rem;
}

.lista-tarefas {
	margin-top: 40px;	
}

.linha-divisoria {
	border-top: 1px solid #ccc;
	height: 2px;
}

.imagem {
	margin-top: 20px;
}

.img-thumbnail {
	border: 0px;
	border-radius: 15px;
}

.card-esquerdo {
	padding-top: 10px;
}

.card-direito {
	padding-top: 25px;
}

.ferramentas {
	padding-top: 50px;
}

.total {
	font-size: 3.5rem;
}

.usuario {
	color: #ffffff;
	position: relative;
	top: 15px;
}
