.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #222;
	color: white;
	text-align: center;
	height: 5%;
	line-height: 35px;
}

.is-error {
	color: red;
	font-size: 1em;
}

img.img-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #eef3fa;
    border-color: #ddd;
}