<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas - página inicial</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	<div th:replace="layout/layout-padrao :: cabecalho"></div>
	<div class="container">
	
	
	
	</div>

	<div class="footer text-center">
		<small>Copyright &copy; Gerenciador de tarefas</small>
	</div>

	<script src="/werbjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/werbjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>