<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas - página inicial</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

	<div th:replace="layout/layout-padrao :: cabecalho"></div>
	<div class="container">
		<p>Olá, seja bem-vindo ao Gerenciador de Tarefas!</p>
		<p th:text="${mensagem}"></p>
	</div>
	
	<script src="/werbjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/werbjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>